<!-- begin change_info_screen.tmpl -->

<!-- tmpl_include help_link_widget.tmpl -->

<!-- tmpl_if done -->
	<!-- tmpl_var GOOD_JOB_MESSAGE -->
<!--/tmpl_if-->

<!-- tmpl_if errors -->
	
	<p class="error">
	 Le <!-- tmpl_var errors --> champ<!-- tmpl_var errors_ending --> sur ce formulaire
	 <!-- tmpl_var err_word --> a &eacute;t&eacute; rempli incorrectement et doit &ecirc;tre corrig&eacute; pour que les nouvelles infos soit enregistr&eacute;es.
	</p>
	
<!--/tmpl_if-->

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form">


<fieldset> 
	<legend>Les infos de votre liste</legend> 
	
<p>
 Le <strong>Nom Court</strong> de votre liste est&nbsp;: 
 <strong>
  <!-- tmpl_var list -->
 </strong>
</p>

<!-- tmpl_if flags_list_name -->
	
	<p class="error">
	 <em>
	  Vous n'avez pas entr&eacute; de nom de liste.
	 </em>
	</p>
	
<!--/tmpl_if-->


<!-- tmpl_if name="flags_list_name_bad_characters" -->
	 
	 <p class="error">
	  <em>
	   Le nom de votre liste contient un ou des &laquo;&nbsp;&lt;&nbsp;&raquo; un ou des &laquo;&nbsp;&gt;&nbsp;&raquo; ou un ou des &laquo;&nbsp;&quot;&nbsp;&raquo;.
	  </em>
	 </p>
	 
<!-- /tmpl_if -->


<p>
 <label for="list_name">
  Nom de la liste
 </label>
 <br />
 Quel est le nom de votre liste&nbsp;?
</p>
<p>
 <input type="text" name="list_name" id="list_name" value="<!-- tmpl_var list_name escape="HTML" -->" class="full" />
</p>

<!-- tmpl_if flags_invalid_list_owner_email -->
	
	<p class="error">
	 <em>
	  Il faut une adresse email valable pour le propri&eacute;taire de la liste.
	 </em>
	</p>
	
<!--/tmpl_if-->

<p>
 <label for="list_owner_email">
  Adresse du propri&eacute;taire de la liste
 </label>
 <br/>
 Quelle adresse email correspond au propri&eacute;taire de la liste&nbsp;? <br />(Quand des emails sont envoy&eacute;s par le programme, ils sont envoy&eacute;s &agrave; cette adresse)
 </p>
 <p>
	<input type="text" name="list_owner_email" id="list_owner_email" value="<!-- tmpl_var list_owner_email escape="HTML" -->" class="full" />
</p>

<p>
 <label for="admin_email">
  Adresse de l'administrateur de la liste
 </label>
 <br />
 <em>
  Optionel: 
 </em>
Cette adresse est l'adresse o&ugrave; les messages qui reviennent &agrave; l'exp&eacute;diteur sont envoy&eacute;s.
</p>
<p>
 <input type="text" name="admin_email" id="admin_email" value="<!-- tmpl_var admin_email escape="HTML" -->" class="full" />
</p>

<!-- tmpl_if flags_list_info -->
	
	<p class="error">
	 <em>
	  Il faut que vous donniez une description de votre liste.
	 </em>
	</p>
	
<!--/tmpl_if-->

<p>
 <label for="info">
  Description de la liste
 </label>
 <br />
 <textarea name="info" id="info" cols="50" rows="5"><!-- tmpl_var info --></textarea>
</p>

<!-- tmpl_if flags_privacy_policy -->
	
	<p class="error">
	 <em>
	  Il faut que vous d&eacute;terminiez une politique de confidentialit&eacute;.
	 </em>
	</p>
	
<!--/tmpl_if-->

<p>
 <label for="privacy_policy">
Politique de confidentialit&eacute; </label>
 <br />
 Ecrivez une courte description de votre politique de confidentialit&eacute;. <br />(Certaines personnes ne s'abonneront pas &agrave; votre liste car ils craignent que vous utilisiez leur adresse email &agrave; des fins de SPAM)
 <br />
 <textarea name="privacy_policy" id="privacy_policy" cols="50" rows="5"><!-- tmpl_var privacy_policy --></textarea>
</p>

<!-- tmpl_if flags_physical_address -->
	
	<p class="error">
	 <em>
	  Il faut que vous donniez &agrave; votre liste une adresse physique.
	 </em>
	</p>
	
<!--/tmpl_if-->

<p>
 <label for="physical_address"> 
  Adresse physique
 </label>
 <br/>
 Quelle est l'adresse physique associ&eacute;e &agrave; cette liste&nbsp;?
 <br />
 <textarea name="physical_address" id="physical_address" cols="50" rows="5"><!-- tmpl_var physical_address --></textarea>
</p>

</fieldset>
	
<input type="hidden" name="f"       value="change_info" />
<input type="hidden" name="process" value="1" />
<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Annuler les changements" />
 <input type="submit" class="processing" value="Enregistrer les changements" />
</div>
<div class="floatclear"></div>

</form> 

 

<!-- end change_info_screen.tmpl -->
