<!-- begin delete_list_success_screen.tmpl -->

<p>
 Vous avez effac&eacute; votre liste.
</p>
<p>
 <a href="<!--tmpl_var PROGRAM_URL -->">
  Retour &agrave; <!-- tmpl_var PROGRAM_NAME --> l'&eacute;cran par d&eacute;faut.
 </a>
</p>

<!-- end delete_list_success_screen.tmpl -->
