<!-- begin error_no_archive_screen.tmpl --> 

<h1>
 Pas d'archive pour <!-- list_settings.list_name -->
</h1> 

<p>
 Impossible de trouver une archive pour [list_name]. Soit la base de donn&eacute;es est corrompue, soit vous n'avez pas envoy&eacute; de message &agrave; archiver.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_archive_screen.tmpl --> 
