<!-- begin error_unreadable_db_files_screen.tmpl --> 

<h2>Les r&eacute;glages ou les archives sont illisibles&nbsp;!</h2>

<p>Message d'erreur complet&nbsp;:</p>

<pre>
	<!-- tmpl_var error_message --> 
</pre> 

<p><a href="<!-- tmpl_var S_PROGRAM_URL -->?f=restore_lists">Essai de restauration de vos listes</a></p>

<!-- end error_unreadable_db_files_screen.tmpl --> 

