<!-- begin error_list_already_exists.tmpl --> 

<h1>
 Ce nom de liste <!--- tmpl_var list_settings.list_name --><!-- I doubt that's gonna work --> existe d&eacute;j&agrave; 
</h1> 

<p>
 Alors merci de choisir un autre nom.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_list_already_exists.tmpl --> 

