<!-- begin error_no_dbm_package_installed_screen.tmpl --> 

<h2>Pas de paquet DBM&nbsp;!</h2> 

<p>S'il s'agit d'une nouvelle installation de <!-- tmpl_var PROGRAM_NAME -->, vous pourriez avoir besoin d'installer <!-- tmpl_var PROGRAM_NAME --> en utilisant SQL, puisque il n'y a pas de paquet DBM install&eacute;.</p>

<p>Message d'erreur complet&nbsp;:</p>

<pre>
	<!-- tmpl_var error_message --> 
</pre> 

<!-- end error_no_dbm_package_installed_screen.tmpl --> 

