<!-- begin error_no_display_attachments_screen.tmpl --> 

<h1>
 Malheureusement,
</h1> 

<p>
 les pi&egrave;ces jointes des messages de cette liste ne sont pas affich&eacute;s.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_display_attachments_screen.tmpl --> 
