<!-- begin error_over_list_quota_screen.tmpl --> 

<h1>
 Impossible de cr&eacute;er une nouvelle liste
</h1> 

<p>
 La limite maximum du nombre de listes a &eacute;t&eacute; atteint.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_over_list_quota_screen.tmpl --> 
