<!-- begin error_not_on_unsub_confirm_list_screen.tmpl --> 

<h1>
 Probl&egrave;me au d&eacute;sabonnement&nbsp;!
</h1> 

<p>La confirmation du désabonnement ne s'est pas achevée correctement.  Une des raison peut être&nbsp;:
</p>

<ul> 
 <li>
	Vous avez essayé de vous désinscrire d'une liste (même avec le bon mot de passe) sans demander d'abord une confirmation.
 </li>	
</ul>

<!-- tmpl_var subscription_form --> 

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_not_on_unsub_confirm_list_screen.tmpl --> 
