<!-- begin error_no_list_screen.tmpl --> 

<h1>
 Impossible de trouver la liste (<!-- tmpl_var list_settings.list -->)
</h1> 

<p>
 Il est possible que cette liste ait &eacute;t&eacute; effac&eacute;e ou d&eacute;plac&eacute;e et que le formulaire que vous avez utilis&eacute; ne soit pas &agrave; jour.
</p>

<!-- end error_no_list_screen.tmpl --> 
