<p>
 V&eacute;rifiez le r&eacute;glage de vos tables SQL. Il semble qu'une ou plusieurs tables manque(nt) ou soi(en)t format&eacute;e(s) incorrectement. 
</p>

<p>
	Si vous venez de faire une mise &agrave; jour <!-- tmpl_var PROGRAM_NAME -->, v&eacute;rifiez que vous avez bien utilis&eacute; tous les utilitaires de migration n&eacute;c&eacute;ssaires. 
</p>
