<!-- begin error_unsub_invalid_email_screen.tmpl --> 

<h1>
 Adresse email invalide
</h1> 

<p>
 L'adresse que vous avez encod&eacute;e, 
 <strong>
  <!-- tmpl_var subscriber.email --></strong>, 
n'est pas correcte. Il est possible que vous ayez fait une faute de frappe. Vous pouvez 
<a href="#" onclick="history.back(); return false">
	revenir en arri&egrave;re 
</a> 
et r&eacute;encoder votre adresse, ou utiliser le formulaire ci-dessous&nbsp;:</p> 

<!-- tmpl_var unsubscription_form --> 

<!-- tmpl_include error_footer_widget.tmpl -->


<!-- end error_unsub_invalid_email_screen.tmpl -->
