<!-- begin error_black_listed_screen.tmpl --> 

<h1>Vous ne pouvez pas vous inscrire</h1> 

<p>Il semble que votre adresse, 

	<blockquote>
		<p>
			<strong>
			 <!-- tmpl_var email -->
			</strong>
		</p>
	</blockquote> 
	

n'est pas autoris&eacute;e &agrave; s'inscrire &agrave;:</p>

<blockquote>
	<p>
		<strong>
		 <!-- tmpl_var list_settings.list_name -->
		</strong>
	</p>
</blockquote> 

<p>pour une raison ou une autre. Cette liste peut &ecirc;tre r&eacute;serv&eacute;e &agrave; certaines personnes.</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_black_listed_screen.tmpl --> 
