<!-- begin error_bad_ip_screen.tmpl --> 

<p>
 Vous n'&ecirc;tes pas autoris&eacute; &agrave; vous connecter &agrave; votre tableau de bord &agrave; partir de votre adresse IP actuelle.
</p> 


<!-- end error_bad_ip_screen.tmpl --> 
