<!-- begin error_install_dir_still_around_screen.tmpl -->

Le dossier <em>dada/<strong>installer</strong></em> doit être effacé (de préférence) ou bien renommé avant que vous puissiez utiliser Dada Mail. 

<!-- end error_install_dir_still_around_screen.tmpl -->