<!-- tmpl_var error_no_show_archives_screen.tmpl --> 

<h1>
 Pas de message archiv&eacute;
</h1> 

<p>
 Il n'y a pas de message archiv&eacute; de cette liste qui soit visible.
</p>

<!--- tmpl_var list_settings.list_name -->

<!-- tmpl_var error_no_show_archives_screen.tmpl --> 
