<!-- begin error_invalid_root_password_screen.tmpl --> 

<h1>Votre mot de passe administrateur est incorrect</h1> 

<p>
Le mot de passe administrateur que vous avez entr&eacute; n'est pas le m&ecirc;me que celui qui est enregistr&eacute; pour votre <!-- tmpl_var PROGRAM_NAME --> script.
</p>

<!-- tmpl_unless DISABLE_OUTSIDE_LOGINS -->

	<p>
	 Merci d'essayer &agrave; nouveau&nbsp;:
	</p> 

	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
	<p><strong>mot de passe administrateur</strong><br /> 
	 <input type="hidden" name="flavor" value="new_list" />
	 <input type="password" name="root_password" maxlength="24" /> 
	 <input type="submit" class="plain" value="Se connecter en tant qu'administrateur <!-- tmpl_var PROGRAM_NAME -->" /> 
	</p>
	</form>

<!-- /tmpl_unless -->


<!-- end error_invalid_root_password_screen.tmpl --> 
