<!-- begin error_invalid_pin_screen.tmpl --> 

<h1>
Code Pin invalide
</h1> 

<p>
 Le code pin que vous avez entr&eacute; n'est pas correct. Vous avez peut-&ecirc;tre fait une erreur dans l'adresse de confirmation ou de d&eacute;sabonnement. 
 Veillez &agrave; coller l'int&eacute;gralit&eacute; du lien dans la barre d'espace.

</p> 

<p>
 Si vous le d&eacute;sirez, vous pouvez soumettre &agrave; nouveau votre adresse email&nbsp;:
</p>

<!-- tmpl_var subscription_form -->


<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_invalid_pin_screen.tmpl --> 
