<!-- begin error_list_pass_no_match.tmpl --> 

<h1>
 Il y a une erreur dans votre nouveau mot de passe
</h1> 

<p>
 Il y a une diff&eacute;rence entre la premi&egrave;re et la deuxi&egrave;me fois que vous avez tap&eacute; le mot de passe. Ou alors vous n'avez pas entr&eacute; de mot de passe du tout...
</p> 

<p>
	Cliquez sur le 
	<a href="#" onclick="history.back(); return false">
	 bouton de retour
    </a> 
pour r&eacute;gler le probl&egrave;me.
</p>

<!-- end error_list_pass_no_match.tmpl --> 
