<!-- begin error_need_to_login_screen.tmpl --> 

<h1>
 Il faut vous connecter
</h1> 

<p>
 Il faut que vous encodiez le nom de votre liste ou son mot de passe. Ils sont n&eacute;c&eacute;ssaires pour vous laisser acc&eacute;der au tableau de bord.
</p>

<!-- tmpl_unless DISABLE_OUTSIDE_LOGINS --> 

	<!-- tmpl_var list_login_form --> 
	
<!-- /tmpl_unless --> 

    
<!-- end error_need_to_login_screen.tmpl --> 
