<!-- begin error_over_subscription_quota_screen.tmpl --> 
<h1>
 Impossible d'inscrire cette adresse
</h1> 
<p>
 Cette liste n'accepte plus de nouveaux abonn&eacute;s.
</p>

<!--- tmpl_var list_settings.list_name --><

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_over_subscription_quota_screen.tmpl --> 
