<!-- begin error_no_root_password_screen.tmpl --> 

<h1>Pas de mot de passe administrateur d&eacute;fini</h1> 

<p>Le <!-- tmpl_var PROGRAM_NAME --> mot de passe administrateur n'a 
	<strong>
	 pas
	</strong> &eacute;t&eacute; d&eacute;fini correctement. La cr&eacute;ation de liste n'est pas autoris&eacute;e avec un <!-- tmpl_var PROGRAM_NAME --> mot de passe administrateur inexistant.</p> 

<!-- end error_no_root_password_screen.tmpl --> 
