<!-- begin error_invalid_password_screen.tmpl --> 
	<h1>
	 Votre connexion &agrave; la mailing list n'est pas valable
	</h1> 

	<p>
	Le mot de passe que vous avez entr&eacute; pour vous connecter &agrave;&nbsp;: 
	</p> 

	<ul>
		<li><p><!-- tmpl_var list_settings.list_name --></p></li>
	</ul> 
	
	<p>n'a pas &eacute;t&eacute; valid&eacute; correctement. Veillez que&nbsp;:</p>

	<ul>
		<li>
			<p>
				Vous ayez entr&eacute; le mot de passe correctement. 
			</p>
		</li>
		<li>
			<p>
			Les r&eacute;glages des navigateur, cookies, et firewall vous permettent bien de vous connecter
			</p>
		</li>
	
	</ul>

<!-- tmpl_unless DISABLE_OUTSIDE_LOGINS --> 

    <fieldset>
	 <legend>
		 Connectez vous à <!-- tmpl_var list_settings.list_name -->
	 </legend>
 	
    <p style="text-align:center">
		     Entrez le
		     <label for="admin_password">
		      mot de passe de la liste&nbsp;:
		     </label>
		    </p>
		
	<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post">
     <input type="hidden" name="flavor" value="login" />
     <input type="hidden" name="admin_list" value="<!-- tmpl_var list_settings.list -->" />
	 <input type="hidden" name="referer" value="<!-- tmpl_var ENV_SCRIPT_URI -->" /><!-- DEV: perhaps even switch this out with js? --> 
    <p style="text-align:center">

      <input type="password" name="admin_password" id="admin_password" maxlength="24" /> 
      <input type="submit" class="plain" value="Login" />
     </p>
    </form> 
   </fieldset> 


<!-- /tmpl_unless --> 

<fieldset>
 <legend>
	 Renouveler votre mot de passe
 </legend>

<p>
 Le renouvellement de votre mot de passe pour cette liste n&eacute;c&eacute;ssite l'envoi d'un email de confirmation par l'administrateur de la liste. 
</p>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 
 <input type="hidden" name="flavor" value="email_password" />
 <input type="hidden" name="list" value="<!-- tmpl_var list_settings.list -->" />
 <p align="center">
  <input type="submit" class="cautionary" value="Réinitialiser le mot de passe" />
 </p>
</form> 

</fieldset>

<!-- end error_invalid_password_screen.tmpl --> 
