<!-- begin error_closed_list_screen.tmpl --> 

<h1>
 Impossible de s'inscrire
</h1> 

<p>
 La liste &agrave; laquelle vous essayez de vous inscrire est ferm&eacute;e. Seul l'administrateur de cette liste peut inscrire de nouvelles adresses &agrave; cette liste.
</p>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_closed_list_screen.tmpl --> 
