<!-- begin error_not_on_sub_confirm_list_screen.tmpl -->

<h1>
 Probl&egrave;me &agrave; l'inscription
</h1> 
<p>
 La confirmation de l'inscription ne s'est pas achev&eacute;e correctement. Une des raisons peut &ecirc;tre&nbsp;:
</p>

<ul> 
 <li>
	Vous avez tent&eacute; de vous abonner &agrave; une liste (m&ecirc;me avec le mot de passe) sans demander d'abord la confirmation.
 </li>	
</ul> 

<!-- tmpl_var subscription_form --> 

<!-- tmpl_include error_footer_widget.tmpl -->


<!-- end error_not_on_sub_confirm_list_screen.tmpl -->
