<!-- begin error_no_list_password_screen.tmpl --> 

<h1>
 Probl&egrave;me à la connexion
</h1>

<p>
 Lisez les logs d'erreur pour plus d'info.
</p>

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 
 <input type="hidden" name="flavor" value="email_password" />
 <input type="hidden" name="list" value="<!-- tmpl_var list_settings.list -->" />
 <p style="text-align:center">
	     Entrez votre
	     <label for="admin_password">
	      mot de passe&nbsp;:
	     </label>
	    </p>
	
	 <p style="text-align:center">
  <input type="submit" class="cautionary" value="Envoyer un nouveau mot de passe  au propri&eacute;taire de la liste <!-- tmpl_var name="list_settings.list_name" ESCAPE="HTML" -->" />
 </p>
</form>

<!-- tmpl_include error_footer_widget.tmpl -->

<!-- end error_no_list_password_screen.tmpl --> 
