<!-- begin error_logged_into_different_list_screen -->



<h1>Vous &ecirc;tes connect&eacute;-e &agrave; une autre liste&nbsp;!</h1>

<p>
 Vous devez vous d&eacute;connecter cette liste avant de pouvoir vous connecter &agrave; une nouvelle liste. 
</p>

<ul>

<li>
 <a href="<!-- tmpl_var DEFAULT_ADMIN_SCREEN -->">Cliquez ici pour retourner au tableau de bord de la liste pr&eacute;sente.</a>
</li>

 <li>
  <a href="<!-- tmpl_var S_PROGRAM_URL -->?f=logout">Cliquez ici pour vous d&eacute;connecter de la liste pr&eacute;sente.</a>
</li>

</ul> 



<!-- end error_logged_into_different_list_screen -->
