<!-- begin list_password_confirmation_screen.tmpl --> 

<h1>Confirmation de la r&eacute;initialisation du mot de passe de la liste envoy&eacute;e</h1> 

<p>
	Un email de confirmation a &eacute;t&eacute; envoy&eacute; au propri&eacute;taire de la liste&nbsp;:
</p> 

<ul>
 <li>
  <p>
	<!-- tmpl_var list_settings.list_name -->
  </p>
 </li>
</ul> 


<p>Pour confirmer le changement de mot de passe de la liste.
</p>

<p>
	<strong>
 Information enregistr&eacute;e:
	</strong>
</p>

<ul>
	<!-- tmpl_if REMOTE_HOST --> 
	<li>
		<p>
			H&ocirc;te distant enregistr&eacute;&nbsp;:<!-- tmpl_var REMOTE_HOST -->
		</p>
	</li>
	<!-- /tmpl_if --> 
	<!-- tmpl_if REMOTE_ADDR --> 
	<li>
		<p>
			IP distante enregistr&eacute;e&nbsp;: <!-- tmpl_var REMOTE_ADDR -->
		</p>
	</li>
	<!-- /tmpl_if --> 
	
</ul>

<!-- end list_password_confirmation_screen.tmpl --> 