<!-- begin list_search_form_widget.tmpl --> 

    <form action="<!-- tmpl_var S_PROGRAM_URL -->" method="get">
     <p>
      <label for="keyword">
       Recherche <!-- tmpl_var type_title --> Abonn&eacute;s
      </label>
       Liste pour une adresse particuli&egrave;re&nbsp;:
      <br />
      <input type="text"   name="keyword" id="keyword" value="<!-- tmpl_var keyword default="" escape="HTML" -->" />
      <input type="hidden" name="f"    value="search_list" />
      <input type="hidden" name="type" value="<!-- tmpl_var type default="list" -->" />
      <input type="submit" class="processing" value="Rechercher" />
     </p>
    </form>


<!-- end list_search_form_widget.tmpl --> 
