<!-- begin manage_script_screen.tmpl -->

<h2>
Information sur le Script 
</h2>
<p>
 Ceci est la version <strong>
  <!-- tmpl_var name="VER" -->
 </strong> de  <!-- tmpl_var name="PROGRAM_NAME" -->  
 
 .
</p>

<p> 
 <strong>
  <a href="#" onclick="toggleDisplay('extended_info');return false;">
	+/- Plus d'information
  </a>
 </strong>
</p>

<div id="extended_info" style="display:none"> 
	

	<table cellspacing="0" cellpadding="5">

	 <tr>
	  <td>
	   <p class="small">
	    Perl Library Locations:
	   </p>
	  </td>
	  <td>
	   <p>
	    <ul>
	     
	<!-- tmpl_loop at_incs -->
		     
		     <li>
		      <p class="small" style="margin:0;">
		       <!-- tmpl_var name -->
		      </p>
		     </li>
		     
	<!-- /tmpl_loop --> 
	     
	    </ul>
	   </p>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <p class="small">
	    Server Software:
	   </p>
	  </td>
	  <td>
	   <p class="small">
	    <!-- tmpl_var name="server_software" -->
	   </p>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <p class="small">
	    Operating System:
	   </p>
	  </td>
	  <td>
	   <p class="small">
	    <!-- tmpl_var name="operating_system" -->
	   </p>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <p class="small">
	    Perl Version:
	   </p>
	  </td>
	  <td>
	   <p class="small">
	    <!-- tmpl_var name="perl_version" -->
	   </p>
	  </td>
	 </tr>
	 <tr>
	  <td>
	   <p class="small">
	    path(s) to <em>sendmail</em>
	   </p>
	  </td>
	  <td>
	   <p class="small">
	    <!-- tmpl_var name="sendmail_locations" -->
	   </p>
	  </td>
	 </tr>
	
	 <tr>
	  <td>
	   <p class="small">
	    path to <em>curl</em>:
	   </p>
	  </td>
	  <td>
	   <p class="small">
	    <!-- tmpl_var name="curl_location" -->
	   </p>
	  </td>
	 </tr>
	
	 <tr>
	  <td>
	   <p class="small">
	    path to <em>wget</em>:
	   </p>
	  </td>
	  <td>
	   <p class="small">
	    <!-- tmpl_var name="wget_location" -->
	   </p>
	  </td>
	 </tr>
		
	</table>
	
</div> 


<p>
 C'est une bonne id&eacute;e de rechercher des mises &agrave; jour de ce script r&eacute;guli&egrave;rement. Des modifications int&eacute;ressantes peuvent appara&icirc;tre.
</p>
<p style="text-align:center">
 <input type="button" class="plain" onclick="check_newest_version()" value="V&eacute;rifier la version" />
</p>
<hr />

<h2>
 Visiter le site d'assistance
</h2>
<p>
 Un site complet d'assistance a &eacute;t&eacute; cr&eacute;&eacute; uniquement pour Dada Mail. Vous y trouverez des FAQS, instructions, trucs et astuces et tout ce que nous pourrions rassembler comme infos utiles.
</p>
<p style="text-align:center">
 <strong>
  <a href="http://dadamailproject.com/support/" target="_blank">
   http://dadamailproject.com/support/
  </a>
 </strong>
</p>
<hr />

<h2>
 Rejoindre la mailing list relative aux &eacute;volutions du projet Dada Mail
</h2>

<form action="http://dadamailproject.com/cgi-bin/dada/mail.cgi" method="get" target="_blank">
 <input type="hidden" name="f"      value="subscribe" />
 <input type="hidden" name="list"   value="dada_announce" />
 <input type="text"   name="email"  value="<!-- tmpl_var name="list_owner_email" -->" size="24" maxlength="1024" />
 <input type="submit" class="processing" value="S'inscrire" />
</form>
<hr />


<!-- tmpl_if GIVE_PROPS_IN_ADMIN --> 

<h2>
 Achetez Pro Dada et le manuel d'utilisation de Dada Mail
</h2>
<p>
 Si vous trouvez Dada Mail incroyablement utile, vous pourriez avoir envie d'y contribuer. L'argent sert &agrave; maintenir un serveur web qui h&eacute;berge le site d'assistance, les softwares pour cr&eacute;er ce produit, et aussi pour payer la note d'&eacute;lectricit&eacute;... L'argent qu'il y aurait en trop sert pour payer mes frais d'universit&eacute;.
</p>
<p style="text-align:right">
 <strong>
  <a href="http://dadamailproject.com/purchase/pro.html" target="_blank">
    Achetez Pro Dada et gardez le projet Dada Mail vivant !
  </a>
 </strong>
</p>
<hr />

<!-- /tmpl_if --> 

<h2>
 Accord de license
</h2>
<p>
 Dada Mail est un projet de programme Open Source et est publi&eacute; sous  une
 <strong>
  <a href=http://www.gnu.org/copyleft/gpl.html target="_blank">
   License publique GNU</a></strong>.
</p>
<hr />

<h2>
 Dada Mail et le Spam
</h2>
<p>
 N'utilisez pas Dada Mail pour spammer. Lisez notre d&eacute;claration &agrave; ce propos :</p>
<p>
 <strong>
  <a href="http://dadamailproject.com/project/spam.html" target="_blank">
   http://dadamailproject.com/project/spam.html
  </a>
 </strong>
</p>

<!-- end manage_script_screen.tmpl -->
