<!-- begin no_spam.tmpl -->

<p>
 Vous ne pouvez pas, sous aucune condition, utiliser ce programme 
 (<!-- tmpl_var name="PROGRAM_NAME" -->) ou ses composants pour envoyer des messages non solicit&eacute;s (spam).
</p>

<!-- end no_spam.tmpl -->
