<!-- begin preview_template.tmpl --> 

<p>
 Ceci est un
  <strong>
   aper&ccedil;u
  </strong> 
         du mod&egrave;le de votre liste.
 </p>

<p>
 Pour enregistrer ou modifier, fermez cette fen&egrave;tre et cliquez sur le bouton <strong>
 Modifier le mod&egrave;le
</strong>.
</p>

<!-- end preview_template.tmpl --> 
