<!-- begin profile_register.tmpl --> 

<h1>
	L'enregistrement de votre profil est r&eacute;ussie&nbsp;!
</h1> 

<p>
	Un email vient de vous &ecirc;tre envoy&eacute;,</p>
	
	<ul>
		<li>
			 <!-- tmpl_var profile.email -->
		</li>
	</ul>
	
<p>
	 avec votre code d'autorisation.
</p> 

<p>
	Une fois que vous aurez cliqu&eacute; sur le lien d'autorisation, votre profil <!-- tmpl_var PROGRAM_NAME --> sera activ&eacute;&nbsp;!!
</p> 

<!-- end profile_register.tmpl --> 

