<!-- begin profile_reset_password.tmpl --> 

	<h1>Autorisation r&eacute;ussie&nbsp;!</h1> 
	
	<fieldset>
		<legend>Choisir un nouveau mot de passe&nbsp;:</legend> 
	
	<form action="<!-- tmpl_var PROGRAM_URL -->" method="post" > 
		<input type="hidden" name="f"     value="profile_reset_password"  /> 
		<input type="hidden" name="email" value="<!-- tmpl_var email -->" /> 
		<input type="hidden" name="auth_code" value="<!-- tmpl_var auth_code -->" />
		<p>
			<label for="password">
				Votre nouveau mot de passe&nbsp;:
			</label>
			 <input type="password" name="password" id="password" value="" />
		</p> 
	
		<div class="buttonfloat">
			<input type="submit" value="R&eacute;initialiser votre mot de passe et login..." /> 
		</div>
		<div class="floatclear"></div>
	
	
	
	
	</form> 
	
	</fieldset>
<!-- end profile_reset_password.tmpl --> 
