<!-- begin profile_reset_password_confirm.tmpl --> 

<h1>
	Confirmation de la r&eacute;initialisation du profil envoy&eacute;e&nbsp;!
</h1>

<p>
	Veuillez relever votre courrier pour, <!-- tmpl_var profile.email --> pour le message de confirmation du mot de masse du profil. 
</p>

<p>
	Cliquez sur le lien pour r&eacute;initialiser le mot de passe&nbsp;!

</p> 


<!-- end profile_reset_password_confirm.tmpl --> 
