<!-- begin profile_help.tmpl --> 


<h1>
	D&eacute;finition des profils <!-- tmpl_var PROGRAM_NAME --> 
</h1> 

<p>
<!-- tmpl_var PROGRAM_NAME --> Les profils vous permettent de voir et de travailler sur tous vos abonnements <!-- tmpl_var PROGRAM_NAME --> d'un seul endroit, et aussi de mettre &agrave; jour vos informations. 
</p> 

<p>
	Avoir un profil et &ecirc;tre connect&eacute;-e vous permet aussi d'acc&eacute;der aux archives accessibles uniquement aux personnes inscrites et d'avoir les formulaires d'inscription et de d&eacute;sinscrition automatiquement remplis partout dans <!-- tmpl_var PROGRAM_NAME -->. 

</p> 

<p>
	<a href="<!-- tmpl_var PROGRAM_URL -->/profile_login/">
		&lt;-- Retour &agrave; la connexion
	</a> 
</p>

<!-- end profile_help.tmpl --> 