<!-- begin restore_lists_screen.tmpl --> 

<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post"> 
	
<p>
 Veuillez entrer le mot de passe administrateur <!-- tmpl_var PROGRAM_NAME --> correct pour commencer &agrave; restaurer les r&eacute;glages de la liste:<br /> 
 
<input type="hidden" name="flavor" value="restore_lists" />

<input type="password" name="root_password" /> 
 
<input type="submit" value="Continue..." class="alertive" />

<p><strong>Aucune</strong> modification ne sera effectu&eacute;e &agrave; vos fichiers en cliquant &quot;Continue&quot;.</p>
</form> 


<!-- end restore_lists_screen.tmpl --> 

