<!-- begin search_email_screen.tmpl --> 

	<form action="<!-- tmpl_var S_PROGRAM_URL -->" name="email_form" method="post"> 
		<p>Rechercher dans toutes les adresses mails de votre liste:
		 <br />
		 <input type="hidden" name="f"    value="search_email" />
		 <input type="hidden" name="type" value="<!-- tmpl_var type -->" /> 
		 <input type="text"   name="keyword" />
		 <input type="submit" class="processing" value="Rechercher" />  
	</form> 
	
<!-- end search_email_screen.tmpl --> 
