<!-- being sending_preferences_screen.tmpl --> 


<!-- tmpl_if list_settings.send_via_smtp --> 
	<p class="alert">Les messages sont envoy&eacute;s via SMTP pour l'instant
<!-- tmpl_if no_smtp_server_set -->
		, mais assurez-vous de configurer les r&eacute;glages de votre serveur SMTP.
	<!-- tmpl_else --> 
		utilisant le serveur SMTP <!-- tmpl_var list_settings.smtp_server --> 
	<!-- /tmpl_if --> 
	</p>	
<!-- tmpl_else --> 
	<p class="positive">Les messages sont envoy&eacute;s via la commande sendmail pour l'instant.</p>
<!-- /tmpl_if -->


<form action="<!-- tmpl_var S_PROGRAM_URL -->" method="post" name="default_form">

	<fieldset>
	<legend>
	 Options Sendmail
	</legend>



	<table>
	 <tr>
	  <td>
	   <input type="radio" name="send_via_smtp" id="send_via_sendmail" value="0" <!-- tmpl_unless list_settings.send_via_smtp -->checked="checked"<!--/tmpl_unless--> />
	  </td>
	  <td>
	   <p>
	    <label for="send_via_sendmail">
	     Envoyer les emails en utilisant  la commande <em>sendmail</em>
	    </label>
	<!-- tmpl_if comment --> 
	    <br />
		<p>
			Les messages individuels seront envoy&eacute;s en utilisant les commandes suivantes&nbsp;: 
		</p>
			
		<p><code><!-- tmpl_var MAIL_SETTINGS  --></code></p> 
		
		<p>Les envois massifs seront envoy&eacute;s en utilisant la commande suivante&nbsp;:</p>
		
		<p><code><!-- tmpl_var MASS_MAIL_SETTINGS  --></code></p>		
	   <!-- /tmpl_if --> 
	  </td>
	 </tr>
	</table>
	
	
	<fieldset> 
	
		<legend>  	
		<a href="#" onclick="toggleDisplay('adv_sendmail_options');return false;">
			+/- 
		</a>
		 Options avanc&eacute;es de sendmail
		</legend>
		<div id="adv_sendmail_options" style="display:none"> 
		
		<table cellpadding="5">
		 <tr>
		  <td>
		   <p>
		    <input type="checkbox" name="add_sendmail_f_flag" id="add_sendmail_f_flag" value="1" <!-- tmpl_if list_settings.add_sendmail_f_flag -->checked="checked"<!--/tmpl_if--> />
		   </p>
		  </td>
		  <td>
		   <p>
		    <label for="add_sendmail_f_flag">
		     Ajouter le drapeau Sendmail '-f' lors de l'envoi de messages en utilisant
		     <!-- tmpl_var MAILPROG -->
		    </label>
		    <br />
Ceci mettra dans l'ent&ecirc;te de mail 'Return-Path' l'adresse de l'administrateur de la liste (<!-- tmpl_var list_settings.admin_email --> ), et les messages qui reviennent &agrave; l'exp&eacute;diteur iront &agrave; cette adresse. Sinon, ils iront au propri&eacute;taire de la liste. 			<br /> 
		   <!-- tmpl_if comment -->
		 	<!-- tmpl_var f_flag_settings -->
		   <!-- /tmpl_if --> 
			</p>

		<!-- tmpl_if wrong_uid -->

			   <p>
			    <strong>
			     Attention&nbsp;!
			    </strong>
			    Votre UID effectif n'est pas le m&ecirc;me que votre UID r&eacute;el; 
			    utiliser cette option peut rompre l'envoi de mails.
			   </p>

		<!--/tmpl_if-->

		  </td>
		 </tr>
		</table> 
	</div> 
	</fieldset> 
	
</fieldset> 

<fieldset>
<legend>
 Options SMTP 
</legend>


<table>
 <tr>
  <td>
   <input type="radio" name="send_via_smtp" id="send_via_smtp" value="1" <!-- tmpl_if list_settings.send_via_smtp -->checked="checked"<!--/tmpl_if--> />
  </td>
  <td>
   <p>
    <label for="send_via_smtp">
     Envoyer des emails en utilisant SMTP
    </label>
    <br />
    Assurez-vous de configurer correctement votre authentification SMTP&nbsp;!
   </p>

  </td>
 </tr>
</table> 

<table cellpadding="5">
 <tr>
  <td>
   <p>
    <label for="smtp_server">
     Serveur SMTP :
    </label>
   </p>
  </td>
  <td>
   <p>
    <input type="text" name="smtp_server" id="smtp_server" value="<!-- tmpl_var list_settings.smtp_server -->" size="30" />
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    <label for="smtp_port">
     Port:
    </label>
   </p>
  </td>
  <td>
  <p>
   <input type="text" name="smtp_port" id="smtp_port" value="<!-- tmpl_var list_settings.smtp_port -->" size="5" />
  </p>
  </td>
 </tr>
</table>

 

    <table <!-- tmpl_unless can_use_smtp_ssl -->class="disabled"<!--/tmpl_unless-->> 
     <tr>
      <td>
       <p>
        <input type="checkbox" name="use_smtp_ssl" id="use_smtp_ssl" value="1" <!-- tmpl_if list_settings.use_smtp_ssl -->checked="checked"<!-- /tmpl_if --> <!-- tmpl_unless can_use_smtp_ssl -->disabled="disabled"<!--/tmpl_unless-->/> 
       </p>
      </td>
      <td>
       <p>
        <label for="use_smtp_ssl">
         Utiliser Secure Sockets Layer (SSL)
        </label>
        <!-- tmpl_unless can_use_smtp_ssl -->
            <br />
            <span class="error">
             D&eacute;sactiv&eacute;. Le moduleThe Net::SMTP::SSL doit &ecirc;tre install&eacute;.
            </span>
        <!--/tmpl_unless--> 
        
       </p>
      </td>
     </tr>
    </table> 
    
    
    
	<fieldset>
	<legend>
 	<a href="#" onclick="toggleDisplay('smtp_authentication');return false;">
		+/- 
	</a>
    Authentification SMTP   
		 
	</legend>
	<div id="smtp_authentication" style="display:none"> 
		
	<table>
	 <tr>
	  <td>
	   <p>
	    <input type="checkbox" name="use_sasl_smtp_auth" id="use_sasl_smtp_auth" value="1" <!-- tmpl_if use_sasl_smtp_auth -->checked="checked"<!-- /tmpl_if -->/>
	   </p>
	  </td>
	  <td>
	   <p>
	    <label for="use_sasl_smtp_auth">
	     Utiliser l'aAuthentification SMTP (SASL)
	    </label>
	   </p>
	   <table>

	   <tr>
	     <td>
	      <p>
	       <label for="sasl_auth_mechanism">
	        Type:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <!-- tmpl_var mechanism_popup --> 
	     </p>
	     </td>
	    </tr>


	    <tr>
	     <td>
	      <p>
	       <label for="sasl_smtp_username">
	        Username:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <input type="text" name="sasl_smtp_username" id="sasl_smtp_username" value="<!-- tmpl_var sasl_smtp_username -->" size="30" />
	      </p>
	     </td>
	    </tr>
	    <tr>
	     <td>
	      <p>
	       <label for="sasl_smtp_password">
	        Mot de passe:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <input type="password" name="sasl_smtp_password" id="sasl_smtp_password" value="<!-- tmpl_var sasl_smtp_password -->" size="30" />
	      </p>
	     </td>
	    </tr>
	   </table>
	  </td>
	 </tr>
	</table>




	<table>
	 <tr>
	  <td>
	   <input type="checkbox" name="use_pop_before_smtp" id="use_pop_before_smtp" value="1" <!-- tmpl_if use_pop_before_smtp -->checked="checked"<!-- /tmpl_if --> />
	  </td>
	  <td>
	   <p>
	    <label for="use_pop_before_smtp">
	     Utiliser l'authentification POP-Before-SMTP
	    </label>
	    <br />
	    Une connexion vers votre serveur POP sera cr&eacute;&eacute;e avant les envois. 
	    Ceci peut Authentifier vos requ&egrave;tes de messages sortant si votre serveur SMTP utilise POP-before-SMTP ou qu'il n'utilise pas SASL.
	   </p>
	   <p>
	    L'authentification POP-before-SMTP  n&eacute;c&eacute;ssitera votre identifiant et votre mot de passe pour votre compte
	    <strong>
	     POP3 
	    </strong>
	    :
	   </p>
	   <table border="0">
	    <tr>
	     <td>
	      <p>
	       <label for="pop3_server">
	        Serveur POP3:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <input type="text" name="pop3_server" id="pop3_server" value="<!-- tmpl_var list_settings.pop3_server -->" size="30" />
	      </p>
	     </td>
	    </tr>
	    <tr>
	     <td>
	      <p>
	       <label for="pop3_username">
	        Username POP3 :
	       </label>
	      </p>
	     </td>
	     <td>
	      <input type="text" name="pop3_username" id="pop3_username" value="<!-- tmpl_var list_settings.pop3_username -->" size="30" />
	     </td>
	    </tr>
	    <tr>
	     <td>
	      <p>
	       <label for="pop3_password">
	        Mot de passe POP3 :
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <input type="password" name="pop3_password" id="pop3_password" value ="<!-- tmpl_var decrypted_pop3_pass -->" size="30" />
	      </p>
	     </td>
	    </tr>

	 <tr>
	     <td>
	      <p>
	       <label for="pop3_auth_mode">
	        Type:
	       </label>
	      </p>
	     </td>
	     <td>
	      <p>
	       <!-- tmpl_var pop3_auth_mode_popup --> 
	     </p>
	     </td>
	    </tr>


	   </table>

	    <table <!-- tmpl_unless can_use_ssl -->class="disabled"<!--/tmpl_unless-->> 
	     <tr>
	      <td>
	       <p>
	        <input type="checkbox" name="pop3_use_ssl" id="pop3_use_ssl" value="1" <!-- tmpl_if pop3_use_ssl -->checked="checked"<!-- /tmpl_if --> <!-- tmpl_unless can_use_ssl -->disabled="disabled"<!--/tmpl_unless-->/>
	       </p>
	      </td>
	      <td>
	       <p>
	        <label for="pop3_use_ssl">
	         Utiliser Secure Sockets Layer (SSL)
	        </label>
	        <!-- tmpl_unless can_use_ssl -->
	            <br />
	            <span class="error">
	             D&eacute;sactiv&eacute;. Le module IO::Socket::SSL doit &ecirc;tre install&eacute;.
	            </span>
	        <!--/tmpl_unless--> 

	       </p>
	      </td>
	     </tr>
	    </table> 




	 </td>
	 </tr>


	</table>
	</div> 




	</fieldset>

	<fieldset>

	<legend>  	
	<a href="#" onclick="toggleDisplay('adv_smtp_options');return false;">
		+/- 
	</a>
	 Options SMTP avanc&eacute;es
	</legend> 

	<div id="adv_smtp_options" style="display:none"> 
	

		<table>
		 <tr>
		  <td>
		   <p>
		    <input type="checkbox" name="set_smtp_sender" id="set_smtp_sender" value="1" <!-- tmpl_if list_settings.set_smtp_sender -->checked="checked"<!-- /tmpl_if -->  />
		   </p>
		  </td>
		  <td>
		   <p>
		    <label for="set_smtp_sender">
		     Fixer l'exp&eacute;diteur d'envois SMTP comme l'adresse d'administration de la liste
		    </label>
		    <br />
Ceci mettra dans l'ent&ecirc;te de mail 'Return-Path' l'adresse de l'administrateur de la liste (<!-- tmpl_var list_settings.admin_email --> ), et les messages qui reviennent &agrave; l'exp&eacute;diteur iront &agrave; cette adresse. Sinon, ils iront au propri&eacute;taire de la liste. 		   </p>
		  </td>
		 </tr>
			<br /> 

		</table>
	</div> 
	
	</fieldset>


   
</fieldset>

<input type="hidden" name="process" id="process" value="1" /> 
<input type="hidden" name="f" id="flavor" value="sending_preferences" />

<div class="buttonfloat">
 <input type="reset"  class="cautionary" value="Annuler les changements" />
 <input type="submit" class="processing" value="Enregistrer les changements" />
</div>
<div class="floatclear"></div>

</form> 

<fieldset> 

	<script type="text/javascript">
	    //<![CDATA[

		 function test_smtp(){ 
			
/*			 How we find if we're sending via sendmail or SMTP: */
			var send_via_smtp = 0; 
			if(document.default_form.send_via_smtp.length){ 
				for (var i=0; i < document.default_form.send_via_smtp.length; i++){
					if (document.default_form.send_via_smtp[i].checked){
						if(document.default_form.send_via_smtp[i].value == 1){ 
							send_via_smtp = 1; 
						}
					}
				}
			}

			new Ajax.Updater(
				'sending_preferences_test', '<!-- tmpl_var S_PROGRAM_URL -->', 
				{ 
				    method: 'post', 
					parameters: {

						send_via_smtp:             send_via_smtp, 
						add_sendmail_f_flag:       $F('add_sendmail_f_flag'), 
						smtp_server:               $F('smtp_server'), 
						smtp_port:                 $F('smtp_port'),
						use_smtp_ssl:              $F('use_smtp_ssl'),			
						use_sasl_smtp_auth:        $F('use_sasl_smtp_auth'), 
						sasl_auth_mechanism:       $F('sasl_auth_mechanism'), 
						sasl_smtp_username:        $F('sasl_smtp_username'), 
						sasl_smtp_password:        $F('sasl_smtp_password'), 
						use_pop_before_smtp:       $F('use_pop_before_smtp'), 
						pop3_server:               $F('pop3_server'), 
						pop3_username:             $F('pop3_username'), 
						pop3_password:             $F('pop3_password'), 
						pop3_use_ssl:              $F('pop3_use_ssl'), 
						set_smtp_sender:           $F('set_smtp_sender'),
						process:                   $F('process'),
						f:                         'sending_preferences_test'

						},

				onCreate: 	 function() {
					$('sending_preferences_test').hide(); 
					$('sending_preferences_test_loading').show();

				},
				onComplete: 	 function() {

					$('sending_preferences_test_loading').hide();
					Effect.BlindDown('sending_preferences_test');

				}	


				});
		}
	    //]]>
	</script>

	<p>
		<input type="button"  value="Enregistrer, puis tester vos pr&eacute;f&eacute;rences d'envoi..." class="processing" onClick="test_smtp();" /> 
	</p> 

	<div id="sending_preferences_test_loading" style="display:none;background:#fff">
		<p class="alert">Chargement...</p>
	</div>
	<div id="sending_preferences_test" style="background:#fff"></div>	

</fieldset>
 

<!-- end sending_preferences_screen.tmpl --> 
