<!-- begin subscriber_help_screen.tmpl -->

<p>
 Cette information pourrait vous aider si vous essayez de vous inscrire &agrave; 
 <strong>
  <!-- tmpl_var list_name -->
 </strong>
 mais que vous ne recevez pas les messages emails envoy&eacute;s &agrave; votre adresse.
</p>

<h2>
 Ajoutez <!-- tmpl_var list_owner_email --> &agrave; votre carnet d'adresse/liste blanche
</h2>
<p>
 Il arrive que les messages d'une mailing list soient arr&ecirc;t&eacute;s par le filtre anti-Spam de votre boite mail &agrave; cause de l'information de d&eacute;sinscription qui se trouve dans le message.
</p>
<p>
 Il n'y a pas de solution &agrave; ce probl&egrave;me si on veut conserver ces informations de d&eacute;sinscription dans le message.
</p>
<p>
 La meilleure chose &agrave; faire est d'ajouter l'adresse de l'exp&eacute;diteur 
 <strong>
  <!-- tmpl_var list_owner_email -->
 </strong>&agrave; votre carnet d'adresse ou liste blanche
</p>
<ul>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#hotmail">
   Utilisateurs de Hotmail
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#yahoo">
   Utilisateurs de Yahoo! Mail 
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#gmail">
   Utilisateurs de Gmail
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#outlook_2003">
   Utilisateurs de Microsoft Outlook 2003
  </a>
 </li>
 <li>
  <a href="<!-- tmpl_var PROGRAM_URL -->/subscriber_help/<!-- tmpl_var list -->/#apple_mail">
   Utilisateurs de Apple Mail
  </a>
 </li>
</ul>

<h2>
 <a name="hotmail">
  Utilisateurs de Hotmail
 </a>
</h2>
<h3>
 Ajouter <!-- tmpl_var list_owner_email --> &agrave; votre carnet d'adresses Hotmail:
</h3>
<p>Si vous avez re&ccedil;u le message de confirmation, cliquez sur  
  <strong>
   Enrtegistrer l'adresse 
  </strong>
</p>
<h3>
 Ajouter <!-- tmpl_var list_owner_email --> &agrave; votre liste verte Hotmail:
</h3>
<ol>
 <li>
  <p>
   Quand vous &ecirc;tes conn&eacute;ct&eacute;s &agrave; votre compte hotmail, cliquez sur l'onglet 
   <strong>
    Courrier 
   </strong>
   au milieu de la fen&egrave;tre.
  </p>
 </li>
 <li>
  <p>
   Cliquez sur le lien 
   <strong>
    Options 
   </strong>
   sur la droite de la fen&egrave;tre.
  </p>
 </li>
 <li>
  <p>
   Cliquez sur 
   <strong>
    protection contre le courrier ind&eacute;sirable</strong>.
  </p>
 </li>
 <li>
  <p>
   Cliquez sur 
   <strong>
    Liste Verte</strong>.
  </p>
 </li> 
 <li>
  <p>
   Entrez l'adresse de la liste : 
   <strong>
    <!-- tmpl_var list_owner_email -->
</p>
 </li>
 <li>
  <p>
   Cliquez sur le bouton
   <strong>
    Ajouter 
   </strong>
  </p>
 </li>
</ol>

<h2>
 <a name="yahoo">
  Utilisateurs de Yahoo! Mail 
 </a>
</h2>
<h3>
 Ajouter  <!-- tmpl_var list_owner_email --> &agrave; votre carnet d'adresse:
</h3>
<p>
 Si vous avez re&ccedil;u le message de confirmation, cliquez 
 <strong>
  Ajouter au carnet d'adresse
 </strong>
 </p>

<h2>
 <a name="gmail">
  Utilisateurs de Gmail
 </a>
</h2>
<h3>
 Ajouter  <!-- tmpl_var list_owner_email --> &agrave; votre carnet d'adresse:
</h3>
<p> Si vous avez re&ccedil;u le message de confirmation, cliquez sur
 <strong>
  Plus d'options
 </strong>
 en dessous de la ligne de sujet du message. Puis cliquez sur
 <strong>
  Ajouter l'exp&eacute;diteur &agrave; la liste de contacts</strong>.
</p>

<h2>
 <a name="outlook_2003">
  Utilisateurs de Microsoft Outlook 2003
 </a>
</h2>
<h3>
 Ajouter <!-- tmpl_var list_owner_email --> &agrave; votre liste d'exp&eacute;diteurs s&ucirc;rs:
</h3>
<p>
 Choisissez: 
 <strong>
  Actions -&gt; Mails ind&eacute;sirables 
 </strong>
 puis cliquez: 
 <strong>
   Ajouter &agrave; votre liste d'exp&eacute;diteurs s&ucirc;rs</strong>.
</p>
<h2>
 <a name="apple_mail">
  Utilisateurs de Apple Mail
 </a>
</h2>
<h3>
 Ajouter  <!-- tmpl_var list_owner_email --> &agrave; votre carnet d'adresse:
</h3>
<p>
 Si vous avez re&ccedil;u le message de confirmation, cliquez sur
 <strong>
  Message -&gt; Ajouter l'exp&eacute;diteur au carnet d'adresses 
 </strong> 
 sur la barre du dessus.
</p>
<p>

<!-- end subscriber_help_screen.tmpl -->
 
